asgiref==3.3.1
bcrypt==3.2.0
cffi==1.14.4
Django==3.1.14
django-debug-toolbar==3.2.1
django-debug-toolbar==3.2
django-redis==4.12.1
djangorestframework==3.12.2
mysqlclient==2.0.3
Pillow==9.0.1
pycparser==2.20
pytz==2020.5
redis==3.5.3
six==1.15.0
sqlparse==0.4.2
uWSGI==2.0.19.1